@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: var(--font-manrope);
}

.product{
  background-color: hsla(21, 65%, 57%, 1);

}
.group{
  margin-bottom: 3rem;
}

.best-gear-image {
  background-image: url('/assets/shared/mobile/image-best-gear.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px; /* Adjust as needed */
}

@media (min-width: 768px) { /* Tablet */
  .best-gear-image {
    background-image: url('/assets/shared/tablet/image-best-gear.jpg');
    height: 400px; /* Adjust as needed */
    padding: 2rem;
  }
}

@media (min-width: 1024px) { /* Desktop */
  .best-gear-image {
    background-image: url('/assets/shared/desktop/image-best-gear.jpg');
    height: 400px; /* Adjust as needed */
  }
}